@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

fieldset, div {
    margin-bottom: 20px;
}

fieldset label {
    font-weight: 400;
}

label, legend {
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 800;
}

legend {
    padding-left: 0;
}

input[type="text"], [type="password"],
input[type="submit"], input[type="reset"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid brown;
}

input[type="submit"], input[type="reset"] {
    margin-bottom: 20px;
}

[type="submit"]:hover, [type="reset"]:hover {
    background-color: chocolate;
    cursor: pointer;
}

[type="checkbox"], [type="radio"]
{
    width: 18px;
    height: 18px;
}

input[type="text"]:focus, [type="password"]:focus, textarea:focus {
    background-color: bisque;
}

fieldset {
    border: 0;
    padding: 0;
}

body, input, textarea, select {
    font-size: 18px;
}

h2 {
    color: brown;
}

table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

th {
    background-color: bisque;
}

td, th, caption {
    padding: 10px;
    text-align: left;
}

tr {
    background-color: beige;
}

tr:hover {
    background-color: antiquewhite;
}

caption {
    background-color: brown;
    color: white;
    font-size: 25px;
    /*text-align: center;*/
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 800;
    color: red;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

.doduwagi {
    /*to jest dla demonstracji ze stylowanie
    przy pomocy class jest szeoko stosowane
    i sa tego korzysci np w postaci mozliwosci
    nanoszenia klas bezposrednio na rozne nazwy elementow*/
    background-color: antiquewhite;
}

.blad {
    color: red;
}

/*

Wazenie styli (klasyfikacja "medalowa" - id-class-tag)

input.styl2 {
    background-color: blue;
    border: 1px;
}

input.styl1 {
    background-color: aqua;
}

.styl1 {
    background-color: blue;
}

#nazwiskoid {
    background-color: red;
}

input#nazwiskoid {
    background-color: yellow;
}

input {
    background-color: green;
}
*/

/*

Przyklady selektorow i operatorow

input[name="nazwisko"] {
    background-color: aqua;
}

body form > div > input[name="nazwisko"] {
    border: 10px solid #ff0000;
}

div + div {
    border: 10px solid #00ff00;
}

div + fieldset, fieldset + fieldset, fieldset + div{
    border: 10px solid #0000ff;
}

form input {
    border: 10px solid #ff0000;
}

[name="nazwisko"] {
    background-color: aqua;
}

[id="nazwiskoid"] {
    background-color: aqua;
}

input[id="nazwiskoid"] {
    background-color: aqua;
}

input#nazwiskoid {
    background-color: aqua;
}

input.styl1 {
    background-color: aqua;
}

input.styl2 {
    background-color: blue;
}

.styl1 {
    background-color: aqua;
}

#nazwiskoid {
    background-color: aqua;
}

.styl1 {
    background-color: aqua;
}
*/

